<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </a>
    <span>QuizzApp</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
    </a>
    <a [routerLink]="'/signup'" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person_add</mat-icon>
    </a>
  </mat-toolbar>
  