<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" width="150px" alt="logo">
                </div>

                <h1 class="text-center">Giriş Yap</h1>
                <form action="">
                    <!-- kullanıcı adı alanı -->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Kullanıcı adı</mat-label>
                        <input required matInput placeholder="Kullanıcı adı giriniz">
                      </mat-form-field>

                      <!-- şifre alanı -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Şifre</mat-label>
                        <input required type="password" matInput placeholder="Şifre giriniz">
                      </mat-form-field>

                      <div class="container text-center">
                        <button mat-flat-button color="warn">Şifreyi Sıfırla</button>
                        <button mat-flat-button color="primary" type="submit" class="ml20">Giriş Yap</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>